.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}

.header__logo {
  font-family: Helvetica, sans-serif;
  color: #61dafb;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
}